extends layout

block content
  h1= title
  p Welcome to the Mobile Application currently in development.
  
  
  p Username: 
   input(type="text", name="user")
 
  p Password: 
   input(type="text", name="pswd")
   
  P <button onclick='foo'>Submit</button>