body {
  text-align:center; 	
  padding: 50px;
  background: #EEE;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      }

a {
  color: #00B7FF;
}

<<<<<<< HEAD
.text-label {
    color: #cdcdcd;
    font-weight: bold;
=======
#login-button:hover {
	cursor: pointer;
}

#login-button {
	width: 80px;
	height: 40px;
	border: none;
	background: #2180b7;
	color: #FFF;
	border-radius: 5px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 20px;
	-webkit-transition: background 0.3s;
>>>>>>> 606400b80821cc8eef7d9726d494899449152945
}