#info-form-container
	form(method="post")#deposit-form.form-vertical.well.span4
		h1
		p#sub1.subheading
		hr
		fieldset
			#depositamt-cg.control-group
				label.control-label(for='depositamt-tf') Deposit Amount
				.controls
					input#depositamt-tf.input-xlarge(type='number', name='depositamt', value= member.depositamt)
			hr