#deposit-form-container
	form(method="post")#deposit-form.form-horizontal.well.span6
		h1
		p#sub1.subheading Enter Member Information
		hr
		fieldset
			#deposit-amt-cg.control-group
				label.control-label(for='deposit-amt-tf') Deposit Amount
				.controls
					input#deposit-amt-tf.input-xlarge(type='number', name='deposit-amt', value= member.deposit-amt)
			hr