#deposit-scrollpoint
	#deposit-form-container.well
			h1
			fieldset
				#depositType-cg.control-group
					label.control-label(for='depositType-tf') Deposit Type
					.controls
						input#depositType-tf.input-medium(type='input', name='depositType', value= member.depositType)
				#depositAmt-cg.control-group
					label.control-label(for='depositAmt-tf') Deposit Amount
					.controls
						input#depositAmt-tf.input-medium(type='number', name='depositAmt', value= member.depositAmt)