#deposit-scrollpoint
	#deposit-form-container.well
			h1
			fieldset
				#deposittype-cg.control-group
					label.control-label(for='deposittype-tf') Deposit Type
					.controls
						input#deposittype-tf.input-medium(type='input', name='deposittype', value= member.deposittype)
				#depositamt-cg.control-group
					label.control-label(for='depositamt-tf') Deposit Amount
					.controls
						input#depositamt-tf.input-medium(type='number', name='depositamt', value= member.depositamt)