#id-scrollpoint
	block content

			//- video(id="video", width="300", height="400", autoplay)
			//- canvas(id="canvas", width="300",height="400")
			//- button(id="snap") SNAP
			.form
				form(method="POST", action="/api/uploadContent", enctype="multipart/form-data")#id-container.well
					input(type="file", name="identification", id="identification", accept="image/*;capture=camera").input
					input(type="submit", value="upload")