
extends layout

block content
	div.navbar.navbar-fixed-top
		div.navbar-inner
			div.container-fluid
					ul#global-nav.nav.pull-left
						a(href='#').brand Member Info
					ul#global-nav.nav.pull-right
							button#btn-logout.btn.btn-primary
								i.icon-lock.icon-white
								| Sign Out

	include info
	#whitespace
	include deposit
	#whitespace
	include id
	#whitespace
	include signature
	#whitespace
	#whitespace
	
		include modals/alert
		include modals/confirm

	div.navbar.navbar-fixed-bottom
		div.navbar-inner
			div.container-fluid#bottom-nav
					#button-container
						button#btn-info.btn.btn-primary
							i.icon-lock.icon-white
							| info
						button#btn-deposit.btn.btn-primary
							i.icon-lock.icon-white
							| Deposit
						button#btn-id.btn.btn-primary
							i.icon-lock.icon-white
							| ID
						button#btn-signature.btn.btn-primary
							i.icon-lock.icon-white
							| Signature
block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/vendor/jquery.scrollTo-1.4.3.1-min.js')
	script(src='vendor/jSignature.min.js')
	script(src='/js/views/memberinfo.js')
	script(src='/js/controllers/formController.js')
	script(src='/js/form-validators/formValidator.js')
	