h1 {
  font-family: "Brush Script MT", cursive;
  text-align: center;
  color: #fff;
  color: #fff;
  text-shadow: -1px -1px 0 #c0c0c0, 1px -1px 0 #c0c0c0, -1px 1px 0 #c0c0c0, 1px 1px 0 #c0c0c0;
}
h2 {
  text-align: center;
}
body {
  height: 100%;
  background-image: url("Feather.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}
#login-container {
  margin: 100px auto;
  width: 340px;
}
#login-container label {
  margin: 15px 0 5px 5px;
}
#login-container button {
  width: 150px;
  padding: 6px 40px 6px 40px;
  float: left;
  margin-top: 15px;
}
#login-container .checkbox {
  margin: 23px 0 0 180px;
}
#login-container .btm-links {
  text-align: center;
  margin-top: 10px;
}
#login-container #create-account {
  float: right;
  margin-right: 13px;
}
#login-container #forgot-password {
  float: left;
  margin-left: 10px;
}
#account-form-container {
  width: 340px;
  margin: 40px auto;
}
.modal-form-errors li {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  color: #d8000c;
}
#info-form-container {
  overflow-y: hidden;
  width: 340px;
  margin: 40px auto;
}
#state-list {
  width: 280px;
}
.modal-form-errors li {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  color: #d8000c;
}
#address-form-container {
  overflow-y: hidden;
  width: 340px;
  margin: 40px auto;
}
#state-list {
  width: 280px;
}
.modal-form-errors li {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  color: #d8000c;
}
#deposit-form-container {
  width: 340px;
  margin: 40px auto;
}
.modal-form-errors li {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  color: #d8000c;
}
#id-container {
  width: 200px;
  margin: 40px auto;
}
#signature-container {
  height: 200px;
  width: 340px;
  margin: 40px auto;
}
#whitespace {
  padding-bottom: 1000px;
}
#info-scrollpoint {
  padding-top: 0px;
  padding-bottom: 0px;
}
#address-scrollpoint {
  padding-top: 0px;
  padding-bottom: 0px;
}
#deposit-scrollpoint {
  padding-top: 50px;
  padding-bottom: 0px;
}
#id-scrollpoint {
  padding-top: 100px;
  padding-bottom: 0px;
}
#signature-scrollpoint {
  padding-top: 50px;
  padding-bottom: 0px;
}
#review-scrollpoint {
  padding-top: 0px;
  padding-bottom: 600px;
}
#deposit-scrollpoint {
  padding-top: 100px;
}
#id-scrollpoint {
  padding-top: 100px;
}
#signature-scrollpoint {
  padding-top: 100px;
}
.modal-single-input {
  width: 452px;
  margin: -200px 0 0 -232px;
}
.modal-single-input form {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin-bottom: 0;
}
.modal-single-input form button {
  width: 80px;
  top: 213px;
  position: absolute;
}
.modal-single-input form #cancel {
  right: 110px;
}
.modal-single-input form #submit {
  right: 18px;
}
.modal-single-input .modal-body {
  height: 140px;
  overflow: hidden;
  padding-bottom: 0;
}
.modal-single-input .modal-footer {
  height: 20px;
}
.modal-alert {
  width: 310px;
  margin: -200px 0 0 -150px;
}
#btn-delsig {
  width: 200px;
}
#button-container {
  width: 550px;
  float: center;
}
#print {
  padding: 20px;
}
#four04 {
  padding: 20px;
}
.clear-fix {
  clear: both;
}
.well {
  margin-left: 0;
}
.form-horizontal .control-label {
  width: 80px;
}
.form-horizontal .controls {
  margin-left: 120px;
}
.form-horizontal .form-actions {
  padding: 17px 0 0 270px;
}
.form-vertical .control-label {
  width: 80px;
}
.form-vertical .controls {
  margin-left: 0px;
}
.form-vertical .form-actions {
  padding: 17px 0 0 100px;
}
label {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
}
.subheading {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin-top: 3px;
}
button i {
  padding-left: 8px;
}
