body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 0%;
  background-image: url("twisted.jpg");
  background-size: 100%;
}
/* FF3.6+ */
/* Chrome,Safari4+ */
/* Chrome10+,Safari5.1+ */
/* Opera 12+ */
/* IE10+ */
/* W3C */
#login-container {
  float: center;
  width: 360px;
  margin-right: auto;
  margin-left: auto;
}
#login-container label {
  margin: -2px 0 5px 5px;
}
#login-container button {
  width: 300px;
  padding: 6px 40px 6px 40px;
  float: center;
  margin-top: 6px;
}
#login-container .checkbox {
  margin: 10px 0 0 180px;
}
#login-container .btm-links {
  text-align: center;
  margin-top: -30px;
}
#login-container .outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
#login-container .middle {
  display: table-cell;
  vertical-align: middle;
}
#login-container .inner {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}
#login-container #create-account {
  float: right;
  margin-right: 2px;
}
#login-container #forgot-password {
  float: left;
  margin-left: 2px;
}
#account-form-container {
  width: 460px;
  margin: 0 auto;
}
#country-list {
  width: 280px;
}
.modal-form-errors li {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  color: #d8000c;
}
.modal-single-input {
  width: 452px;
  margin: -200px 0 0 -232px;
}
.modal-single-input form {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin-bottom: 0;
}
.modal-single-input form button {
  width: 80px;
  top: 213px;
  position: absolute;
}
.modal-single-input form #cancel {
  right: 110px;
}
.modal-single-input form #submit {
  right: 18px;
}
.modal-single-input .modal-body {
  height: 140px;
  overflow: hidden;
  padding-bottom: 0;
}
.modal-single-input .modal-footer {
  height: 20px;
}
.modal-alert {
  width: 310px;
  margin: -200px 0 0 -150px;
}
#btn-logout {
  width: 100px;
  top: 1px;
  right: 8px;
  position: absolute;
}
#personaldata-container {
  width: 460px;
  margin: 0 auto;
}
#print {
  padding: 20px;
}
#four04 {
  padding: 20px;
}
.clear-fix {
  clear: both;
}
.well {
  margin-left: 0;
  border: 1px solid #ccc;
}
.form-horizontal .control-label {
  width: 80px;
}
.form-horizontal .controls {
  margin-left: 120px;
}
.form-horizontal .form-actions {
  padding: 17px 0 0 270px;
}
label {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
}
.subheading {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin-top: 3px;
}
button i {
  padding-left: 8px;
}
