raiseText()
	color grey
	text-shadow: -1px 1px 0 white
	-moz-text-shadow: -1px 1px 0 white
	-webkit-text-shadow: -1px 1px 0 white
	//font-family:"Times New Roman", Times, serif//
	
h1 { font-family: "Brush Script MT", cursive; text-align: center; color: #4973AB;
    text-shadow:
    -1px -1px 0 #C0C0C0,
    1px -1px 0 #C0C0C0,
    -1px 1px 0 #C0C0C0,
    1px 1px 0 #C0C0C0;}
	
h2 { text-align: center }

.orientleft #shell {
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin:160px 160px;
}
 
.orientright #shell {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin:230px 230px;
} 


body 

	height  100%
	background-image:url("feather.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
	background-size: 100%;
	
	
// login form //
    
#login-container{
	content: url("title.png");
	margin 100px auto
	width 340px
	label{
		margin 15px 0 5px 5px
	}
	button{
		width 150px
		padding 6px 40px 6px 40px
		float left
		margin-top 15px
	}
	.checkbox{
		margin 23px 0 0 180px
	}
	.btm-links{
		text-align center
		margin-top 10px
	}
	#create-account{
		float:right
		margin-right:13px
	}	
	#forgot-password{
		float:left
		margin-left:10px
	}
}

// account form on signup & home page //

#account-form-container
	width 340px
	margin 40px auto
.modal-form-errors li
	raiseText()
	color #D8000C

// Member info forms //
	
#info-form-container
	overflow-y: hidden
	width 285px
	margin 40px auto
	
#address-form-container
	overflow-y: hidden
	width 285px
	margin 40px auto

#deposit-form-container
	width 240px
	margin 40px auto
	text-align:center;
	
.modal-form-errors li
	raiseText()
	color #D8000C
	
#id-container
	width 250px
	margin 40px auto
	
#signature-container
	height 400px
	width 340px
	margin 40px auto

	
#review-container
	height 200px
	width 340px
	margin 40px auto
	
#download
	height 200px
	width 150px
	margin 40px auto
	
// add whitespace between forms //

#whitespace{
	padding-bottom: 1000px
}
#info-scrollpoint{
	padding-top: 0px
	padding-bottom: 0px
}
#address-scrollpoint{
	padding-top: 0px
	padding-bottom: 0px
}
#deposit-scrollpoint{
	padding-top: 50px
	padding-bottom: 0px
}
#id-scrollpoint{
	padding-top: 100px
	padding-bottom: 0px
}
#signature-scrollpoint{
	padding-top: 50px
	padding-bottom: 0px
}
#review-scrollpoint{
	padding-top: 0 px
	padding-bottom: 100px
}
#deposit-scrollpoint{
	padding-top: 100px
}
#id-scrollpoint{
	padding-top: 100px
}
#signature-scrollpoint{
	padding-top: 50px
}

#review-scrollpoint{
	padding-top: 20px
}

// retrieve password window //

.modal-single-input{
	width 452px	
	margin -200px 0 0 -232px
	form{
		raiseText()
		margin-bottom 0		
 		button{
			width 80px
			top 213px
			position absolute
		}
		#cancel{
			right 110px
		}
		#submit{
			right 18px
		}
	}
	.modal-body{
		height 140px
		overflow hidden	
		padding-bottom 0
	}	
	.modal-footer{
		height 20px
	}	
}

.modal-alert{
	width 310px
	margin -200px 0 0 -150px
}
    
// Buttons //   

	
#button-container {
  //height 2%;
  //width 50%
  //padding 0px 0px 0px 0px
	margin-right auto
	margin-left auto
	float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
	
	
}	

.navbar-inner {
    text-align:center;
}

	 
// support pages //


#print
	padding 20px
#four04
	padding:20px	
    
// general shared rules //
.clear-fix
	clear both
.well
	margin-left 0
.form-horizontal .control-label
	width 80px
.form-horizontal .controls
	margin-left 120px
.form-horizontal .form-actions
	padding 17px 0 0 270px
.form-vertical .control-label
	width 80px
.form-vertical .controls
	margin-left 0px
.form-vertical .form-actions
	padding 17px 0 0 100px
label
	raiseText()	
.subheading
	raiseText()
	margin-top 3px
button i
	padding-left 8px	