<h1>
block content
#msgArea
.panel.panel-primary
.panel-heading #{pagetitle}
form#ContactForm( method="post")
.form-group
label(for='first') First:
input#first.form-control(type="text", placeholder='Enter First Name', nam\
e="first", id="first")
.form-group
label(for='last') Last:
input#last.form-control(type="text", placeholder='Enter Last Name', name=\
"last", id="last")
.form-group
label(for='company') Company:
input#company.form-control(type="text", placeholder='Enter Company Name',\
name="company", id="company")
.form-group
label(for='jobtitle') Job Title:
input#jobtitle.form-control(type="text", placeholder='Enter Job Title', n\
ame="jobtitle", id="jobtitle")
.form-group
label(for='email') Email Address:
input#email.form-control(type="text", placeholder='Enter Email Address', \
name="email", id="email")
button.btn.btn-default#SaveButton(type='submit') Save
</h1>